data/downloads/1.0preds/
data/downloads/2.0preds/
data/downlaods/map_tally.csv

__pycache__

utils/ml_toolbox/tests/

data/downloads/1.0norm/

data/downloads/1.0/*
!data/downloads/1.0/.gitkeep

data/downloads/2.0/*
!data/downloads/2.0/.gitkeep

data/downloads/1.0badMaps/*
!data/downloads/1.0badMaps/.gitkeep

data/downloads/2.0badMaps/*
!data/downloads/2.0badMaps/.gitkeep

data/downloads/1.5/*
data/downloads/2.5/*
!data/downloads/1.5/.gitkeep
!data/downloads/2.5/.gitkeep

data/maps/

trained_models/*
!trained_models/.gitkeep

losses/*
!losses/.gitkeep
!losses/plot_all.py
!losses/plot_epochs.py
