# Ignore all half-maps in data
data/1.0preds/
data/2.0preds/

data/1.0/*
data/2.0/*
!data/1.0/.gitkeep
!data/2.0/.gitkeep

data/1.0badMaps/*
data/2.0badMaps/*
!data/1.0badMaps/.gitkeep
!data/2.0badMaps/.gitkeep

data/1.5/*
data/2.5/*
!data/1.5/.gitkeep
!data/2.5/.gitkeep

# Ignore trained models
trained_models/

# Ignore all output files
out/*
!out/.gitkeep


# Ignore several __pycache__folders
__pycache__/
data/__pycache__
lib/__pycache__
lib/ml_toolbox/src/__pycache__/
lib/ml_toolbox/__pycache__/
lib/utils/__pycache__
lib/preprocess/__pycache__
lib/net/__pycache__
*.pyc
*.pyo

# Ignore job scripts from SCARF
job*
jobout/

# Ignore input file changes
inputs.yaml
