Python packages that need to be installed:
tensorflow
torch
matplotlib
mrcfile
Bio
tqdm
progressbar2
numpy
pandas
bs4
scipy

NOTE: make sure your torch version matches the CUDA version
on your machine if using a GPU. 
To check CUDA version type '$ nvcc --version'.

