# Compiled Python files
*.pyc
*.pyo

# Virtual environment
/.venv/
/venv/

# Python files
__pycache__/
/*.egg-info/

# IDE files
/.project
/.pydevproject
/.idea/

# Toolbox logs
/logs

# Test data from 'example_api_usage.py' (typically removed after unittest run)
/tests/data/label_data/gauss-maps
/tests/data/label_data/label-maps
/tests/data/train_data/*preds